body {
    background-color: #ffc107;
}

.navbar-light {
    background-color: #1d809f;
}

.bold-link {
    font-weight: bold;
}

.dropdown-menu {
    background-color: #1d809f;
}

.bio-photo {
    display: block;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 101;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.text-style {
    text-align: center;
    font-weight: bold;
}

.footer-style {
    background-color: #1d809f;
    color: #000000;
}