/*body footer {
    background-color: #41A38C;
}*/

.navbar-light {
    background-color: #78F0D4;
}

.bold-link {
    font-weight: bold;
}

.dropdown-menu {
    background-color: #78F0D4;
}

.banner-photo {
    display: block;
    width: 100%;
    position: relative;
    z-index: 101;
    background-repeat: no-repeat;
}

.bio-photo {
    display: block;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 101;
    background-repeat: no-repeat;
}

.text-style {
    text-align: center;
    font-weight: bold;
}